
@{
    ViewBag.Title = "Chính sách vận chuyển";
}
<div class="container">
    <div class="row info">
        <div class="title">Chính sách vận chuyển</div>
        <div class="col-md-12">
            <div>
                <b>Toàn bộ đơn hàng được áp dụng vận chuyển qua bên đối tác thứ 3, đảm bảo các quyền lợi và yêu cầu của khách hàng: </b>
            </div>
            <div>
                <p> - Đơn hàng nội thành HCM : dự kiến 1-2 giờ sẽ nhận được kể từ ngày chốt đơn ( do dịch vụ GHTK vận chuyển)</p>

                <p>- Đơn hàng nội thành HN : thường sẽ được giao trong ngày bằng dịch vụ ship ngoài, ngoại thành HN dự kiến giao 1-2 giờ kể từ lúc chốt đơn ( do dịch vụ GHTK vận chuyển )</p>
                <p>- Đơn hàng tỉnh : Không vận chuyển (ship)</p>
                <p>
                    Khách hàng sẽ được kiểm tra đồ ăn thuộc đơn hàng của mình trước khi thanh toán cho bên vận chuyển.
                </p>
                <b>*Đặc biệt: Chính sách freeship</b>

                <p>Khách hàng sẽ không mất phí vận chuyển đơn hàng khi đạt một trong hai điều kiện sau: </p>
                <p>. Khách ở nội thành HCM, HN mua hàng với hóa đơn trên 200k</p>
            </div>
        </div>
    </div>
</div>

