@model List<TinTucGD.Models.BAIVIET>
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}
<!--Load bài viết-->
<script>
        var pageNo = 0;
        var pageCount =@( ViewBag.pageCount)
        function Load() {
            if ($(".loading").css("display") == "none") {
                $(".loading").show();
                $.ajax({
                    url: "/TrangChu/LoadBaiVietPartial",
                    data: { pageNo: pageNo },
                    success: function (respone) {
                        $("#result").append(respone);
                        pageNo++;
                        $(".loading").hide();
                    }

                });

            }
        }
        $(function () {
            Load();
            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                    if (pageNo < pageCount) {
                        Load();
                    }
                }
            });
        });
</script>

<!--load hình-->
<script type="text/javascript">
    02
    window.onload = function () {
        03
        setTimeout("switchImage()", 3000);
        04
    }
    05
    var current = 1;
    06
    var numIMG = 4;
    07
    function switchImage() {
        08
        current++;
        09
        // Thay thế hình
        10
        document.images['myimage'].src = '../../Content/images/image' + current + '.jpg';

        11
        // Gọi lại hàm nếu thõa đk
        12
        if (current == numIMG) { current = 0; }
        13
        setTimeout("switchImage()", 3000);
        14

        15
    }
    16
</script>
<div id="result"> <a href="@Url.Action("TrangChu", "TrangChu")"> <img src="../../Content/images/h14.png" /></a> </div>

<div class="loading">Loading...</div>
<style>
    .loading {
        display: none;
    }
</style>



