@{
    ViewBag.Title = "Danh sách sản phẩm";
}
<div class="container">
    <div class="row info">
        <div class="title">Danh sách sản phẩm</div>
        <a href="AddProduct"><button class="btn btn-success">Thêm mới</button></a>
        <div id="product"></div>
    </div>
</div>
