@model DAN.Models.Order

@{
    ViewBag.Title = "Hoàn thành đặt hàng";
}
@if (@Model.OId.Length > 0)
{
    <div class="container">
        <div class="row info">
            <div class="checkout">
                <div class="confirm">
                    Cảm ơn bạn đã đặt hàng. Mã đơn hàng của bạn là <b>@Model.OId</b><br />
                    Kiểm tra đơn hàng của bạn tại: <a href="http://localhost:49278/Order/SearchInvoice">Đây</a><br />
                    Bạn có thể liên hệ hotline: <b>0354122468</b> để chúng tôi duyệt đơn hàng cho bạn sớm nhất có thể.<br />
                    Xin cảm ơn!
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row info">
            <div class="checkout">
                <div class="confirm">
                    Thanh toán không thành công <br />
                    <b></b><br />
                    Quay về trang chủ tại: <a href="http://localhost:49278">Đây</a><br />
                    Bạn có thể liên hệ hotline: <b>0354122468</b> để chúng tôi hỗ trợ cho bạn sớm nhất có thể.<br />
                    Xin cảm ơn!
                </div>
            </div>
        </div>
    </div>
}
