@model IEnumerable<WebTinTucFinal.Models.BAIDANG>

@{
    ViewBag.Title = "Baidangmoinhat";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<h2>Bài đăng mới nhất</h2>
@foreach (var item123 in Model)
{    
    <a class="slider_tittle" title="@item123.TenBaiDang" href="/Doc-bao/@item123.UrlRequire-@item123.IDBaiDang" target="_blank">
        <img class="img_top1_home" src="@item123.AnhDaiDien" alt="img">
        <h4>
            @item123.TenBaiDang
        </h4>
    </a>
}

