@model IEnumerable<WebTinTucFinal.Models.BAIDANG>
@{
    ViewBag.Title = "TinTheoTheLoai";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="row">
    @foreach (var baidang in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Baiviet","DocBao",new { id = baidang.IDBaiDang})">
                    <img alt="@baidang.TenBaiDang" src="~/Content/images/@baidang.AnhDaiDien" width="200" />
                </a>
                <div>
                    <br />
                    <h4 style="text-align:center">
                        @baidang.TenBaiDang
                    </h4>
                    <p></p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>

            </div>
        </div>

    }
</div>