@model IEnumerable<WebTinTucFinal.Models.BAIDANG>
@{
    ViewBag.Title = "TinTheoChuyenmuc";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h3 style="text-align:center; color:red">Tin Theo Chuyên Mục</h3>
<div class="row">
    
</div>

